@import "src/constants";

.video-card {
  width: 100%;
  cursor: pointer;

  > .media {
    position: relative;
    padding-top: 56.25%;

    > .player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;

      > video {
        background: $primary-color-black;
      }
    }
  }

  > .content {
    height: 1rem;

    > .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
